    <!-- Intro Header -->
    <header class="intro intro-{{ page.key }}">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-{{ page.header.width|default:8 }} col-md-offset-{{ page.header.offset|default:2 }}">

                        <h1 class="brand-heading">{{ page.header.title }}</h1>
                        <p class="sub-head">{{ page.header.subtitle }}</p>
                        <p class="intro-text">
                        {% if page.header.cta %}
                            {% if page.header.cta.first %}
                                {% for link in page.header.cta %}
                                {{ forloop.length }}
                                <div class="col-xs-12 col-md-{{ forloop.length }}">
                                    <a type="button" name="button" class="btn btn-lg btn-default" href="{{ link }}">
                                        {{ page.header.subsubtitle[forloop.index0] }}    
                                    </a>
                                </div>
                                {% endfor %}
                            {% else %}
                            <a type="button" name="button" class="btn btn-lg btn-default" href="{{ page.header.cta }}">
                                {{ page.header.subsubtitle }}
                            </a>
                            {% endif %}
                        {% else %}
                            {{ page.header.subsubtitle }}
                        {% endif %}
                        </p>
                        {% if page.header.down-arrow %}
                            {% if page.key == "home" %}
                            <a href="#{{ site.site-map[page.key].sections[0] }}" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                            {% elsif page.layout == "page" %}
                            <a href="#anchor" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% if page.sticky-header|default: true %}
    <div id="sticky-header"></div>
    {% endif %}
