    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script> -->
 <!-- jQuery Version 1.11.0 -->
    <script>
    var map_center_lat = {{ site.map-center-lat }},
        map_center_lng = {{ site.map-center-lng }};
    </script>
    <script src="{{ "/assets/js/libs/jquery.js" | prepend: site.baseurl | prepend: site.url }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/assets/js/libs/bootstrap.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/assets/js/libs/jquery.easing.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-fjiF76Uh_s7gIZ7-KDfKWPQZWaMZNrk"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/assets/js/urban-static.js" | prepend: site.baseurl | prepend: site.url }}"></script>

    {% include extra_js.html %}