
<section id="{{ page.key }}" class="container detail-section text-center">
    <div id="{{ page.key }}" class="sub-anchor"/>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ul class="subnavbar nav nav-pills nav-justified">
                        <li><a data-scroll id="subform" href="#form">RSVP Form</a></li>
                        <li><a data-scroll id="submenu" href="#menu">Menu</a></li>
                        <li><a data-scroll id="subtimings" href="#timings">Timings</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    {{ content }}
                </div>
            </div>

        </div>
    </div>
</section>
