---
layout: compress
---
<!DOCTYPE html>
<html>
    {% include head.html %}
    {% if site.site-map[page.key].js %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" onload="init{{ page.key | replace: '-', '_' }}()">
    {% else %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" onload="init()">
    {% endif %}
    {% include nav.html %}

    {% include header.html %}

    <!-- About Section -->
    <div id="anchor"></div>
    <section id="{{ page.key }}" class="container detail-section">
        <div class="row">

                <div class="col-lg-12">

                    {{ content|markdownify }}

                </div>
        </div>
    </section>
    
    {% for order in site.site-map[page.key].sections %}
        {% for page in site.pages %}
            {% assign name = page.name | remove: '.md' %}

            {% if name == order %}
                <section id="{{ name }}" class="content-section text-center">
                    <div class="{{ name }}-section">
                        <div class="container">
                            <div class="row">
                                    <div class="col-lg-8 col-lg-offset-2">
                                        {{ page.content | markdownify }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            {% endif %}
         {% endfor %}
    {% endfor %}

    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
